* {
  font-family: "courier-std", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #00ff19;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.btnHover:hover {
  background-color: #24ff3a;
  color: black;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.page--transition {
  opacity: 0;
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

/* header */

.header--container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 2rem;
  height: fit-content;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header--title {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.header--home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.navbar {
  display: flex;
  font-size: 1.2rem;
}

.home--logo {
  height: 2.2rem;
}

/* error */

.error--container {
  background-color: transparent;
  font-size: 2.1rem;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 22px;
}

.error--message {
  color: red !important;
}

/* home */

.home--hero {
  height: 100vh;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 2.1rem;
}

.hero--img {
  height: 270px;
  aspect-ratio: 1/1;
  background-image: url("./assets/images/hero-bef.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.hero--img:hover {
  background-image: url("./assets/images/hero-aft.svg");
  transform: scale(0.4);
  transition: 0.4s;
}

.home--container {
  background-color: transparent;
  font-size: 2.1rem;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  text-align: center;
  padding-right: 20px;
}

.home--options {
  display: inline-block;
  margin-top: 32px;
  align-items: center;
}

.home--option {
  font-size: 1.3rem;
  border-radius: 5px;
  border-color: #00ff19;
  padding: 8px;
  width: auto;
}

.button {
  width: 70%;
  margin-top: 12px;
  transition: 0.2s;
}

/* project */

.project--container,
.project--container__large {
  margin: 120px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 75px;
  width: 100%;
}

.project--container {
  display: none;
}

.project--card {
  border-radius: 7.5px;
  border: 2px solid #00ff19;
  padding: 20px;
  margin-bottom: 30px;
  height: fit-content;
  width: 45%;
}

.button--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button--container .button {
  min-width: fit-content;
  width: 40%;
  padding: 7px;
  margin: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border-color: #00ff19;
}

.project--title {
  font-size: 1.5rem;
}

.project--desc {
  display: none;
  height: 13%;
  min-height: fit-content;
  font-size: 1.1rem;
  margin: 10px 0;
  text-align: justify;
}

.project--img {
  width: 100%;
  margin: 0;
  border-radius: 7.5px;
}

.project--head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 20px;
  margin: 10px 0;
}

.project--boundary {
  height: fit-content;
  width: 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #00ff19;
  border-radius: 7.5px;
}

.project--img__large {
  width: 100%;
  aspect-ratio: 2/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7.5px;
}

.project--content {
  width: 100%;
  height: 100%;
  padding: 0%;
  opacity: 0;
  transition: 0.2s;
}

.project--content:hover {
  opacity: 1;
  backdrop-filter: brightness(0.6) blur(2px);
  padding: 5%;
  transition: 0.5s;
}

.project--head__large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.project--img__large * {
  background-color: transparent;
}

.button--individual {
  width: 20%;
  padding: 7px;
  margin: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #00ff1a2c;
  font-weight: 550;
  border-color: #00ff19;
}

/* about */

.about--container {
  position: static;
  font-size: 1.5rem;
  margin: 100px 50px;
  padding: 30px 70px;
  height: 100%;
  width: auto;
}

.about--intro {
  font-size: 1.4rem;
  line-height: 150%;
  padding-top: 50px;
}

.about--hr {
  border: 1px solid #00ff19;
  margin: 20px 0;
}

.skills--title {
  font-weight: 550;
  margin: 20px auto;
}

.skill--list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
  justify-content: space-around;
  padding: 10px;
}

.skill--item {
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
}

.skill--item:hover {
  transform: scale(1.8);
  transition: 0.3s;
}

/* contact */

.contact--container {
  height: fit-content;
  width: 450px;
  margin: 150px auto;
  margin-bottom: 0;
  padding: 30px;
  border: 2px #00ff19 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--head {
  font-size: 1.6rem;
}

.contact--input {
  width: 100%;
  font-size: 1.2rem;
  border: 2px solid #484c48;
  border-radius: 7.5px;
  padding: 5px;
  margin-top: 20px;
  transition: 0.3s;
}

.contact--input:focus {
  outline: none;
  border: 2px solid #00ff19;
  transition: 0.3s;
}

.contact--send > button {
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 8px 16px;
  border: 2px solid #00ff19;
  border-radius: 5px;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.footer--content,
footer a {
  font-size: 1rem;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  width: fit-content;
  align-items: baseline;
}

footer a {
  padding-left: 10px;
}

.footer--logo {
  height: 1.2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media queries */
@media screen and (max-width: 620px) {
  /* header */

  .header--title,
  .header--home {
    margin: 0;
    width: fit-content;
  }

  .nav--item {
    margin: 0 30px;
    margin-top: 10px;
  }

  .navbar p,
  .header--title p {
    display: none;
  }

  /* project */
  .project--container {
    display: flex;
  }

  .project--container__large {
    display: none;
  }

  .project--card {
    width: 100%;
    height: fit-content;
  }

  .project--container {
    padding: 0 50px;
  }

  .project--desc {
    display: block;
    height: fit-content;
    font-size: 1.1rem;
    margin: 10px 0;
    text-align: justify;
  }

  .project--info {
    display: none;
  }

  /* contact */

  .contact--container {
    max-width: 400px;
    width: 85%;
  }

  .contact--items {
    flex-direction: column;
  }
  .contact--button {
    margin: 10px auto;
    width: 120px;
  }

  /* home */

  .home--hero {
    width: 100%;
    height: fit-content;
    padding: 0;
    padding-top: 90px;
  }

  .home--container {
    width: 100%;
    height: fit-content;
    padding: 80px 0;
  }

  .button {
    width: 90%;
  }

  /* about */

  .about--container {
    margin: 80px 0;
    padding: 30px;
  }

  .about--intro {
    padding-top: 0;
  }

  .skill--list {
    width: 95%;
  }

  .skill--item {
    width: 35%;
    padding: 4.5%;
  }

  .skill--item:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 620px) and (max-width: 992px) {
  /* project */
  .project--container {
    display: flex;
  }

  .project--container__large {
    display: none;
  }

  .project--card {
    width: 100%;
    height: fit-content;
  }

  .project--container {
    padding: 0 75px;
  }

  .project--desc {
    display: block;
    height: fit-content;
    font-size: 1.1rem;
    margin: 10px 0;
    text-align: justify;
  }

  .project--info {
    display: none;
  }

  /* contact */

  .contact--items {
    flex-direction: column;
  }
  .contact--button {
    margin: 10px auto;
    width: 120px;
  }
  .nav--item {
    margin: 0 30px;
    margin-top: 10px;
  }

  /* home */

  .home--container,
  .home--hero {
    padding: 100px 0;
  }

  .button {
    width: 90%;
  }

  /* about */

  .about--container {
    margin: 80px 0;
  }

  .about--intro {
    padding-top: 0;
  }

  .skill--list {
    width: 80%;
  }

  .skill--item {
    width: 26%;
    padding: 3%;
  }

  .skill--item:hover {
    transform: scale(1.2);
  }
}
